In [24]:
name = input("What is your name?") 
age = input ("How old are you?") 
print(name) 
print(age)

What is your name? Alexis
How old are you? 31

Alexis
31

In [25]:
Race = "Elf" 
Gender = "Female" 
print (Gender, Race)

Female Elf

In [26]:
rain = True 
if rain: print ("Remember to take an umbrella.") 
else: print ("You don't need an umbrella.")

Remember to take an umbrella.

In [27]:
rain = False 
if rain: print ("Remember to take an umbrella.") 
else: print ("You don't need an umbrella.")

You don't need an umbrella.

In [28]:
rain = False 
money = False 
if rain: 
    if money: 
        print ("Take the bus.") 
    else: 
        print ("Walk but take an umbrella.") 
else: 
    if money: 
        print ("Take the bus if you're feeling lazy.") 
    else: 
        print ("Walk, but you don't need an umbrella.")

Walk, but you don't need an umbrella.

In [2]:
my_money = 9 
if my_money > 10: 
    print ("You have sufficient funds in your account.") 
else: 
    print ("There is not enough money in your account to complete your purchase.")

There is not enough money in your account to complete your purchase.

In [8]:
temp = 4
if temp > 30: 
    print ("It is hot") 
else:
    print ("It is cold")

It is cold

In [28]:
score = int(input("What was your score:")) 
if score > 20: 
    print ("You passed") 
else: 
    print ("You failed")

What was your score: 24

You passed

In [16]:
deposit = 10
password = "password" 
if 0 < deposit <= 100 and password == "password":
    print (f"Thank you for depositing £{deposit}!") 
else: 
    print ("Failed to make a deposit")

Thank you for depositing £10!

In [24]:
deposit = 10 
password = "password" 
if not 0 < deposit >= 100 or password != "password": 
    print ("Failed to make a deposit.") 
else: 
    print (f"Thank you for depositing £{deposit}!")

Failed to make a deposit.

In [30]:
age = int(input("Enter your age:")) 
if age >= 85: 
    print ("You are above 85") 
elif age >= 50: 
    print ("You are between 50 and 85") 
elif age >= 20: 
    print ("You are between 20 and 50") 
else: 
    print ("You are below 20 years old")

Enter your age: 31

You are between 20 and 50

In [40]:
score = int(input("What was your percentage rate:")) 
if score >= 80: 
    print ("You received a pass with distinction") 
elif score >= 60: 
    print ("You received a pass with a merit") 
elif score >= 50: 
    print ("You received a pass") 
else: 
    print ("You failed")

What was your percentage rate: 52

You received a pass

In [48]:
register = ["Khaled", "Rob", "Sally", "Ash"] 
name = input ("What is your name") 
if name in register: 
    print(f"Welcome {name}.") 
else: 
    print(f"I am sorry {name}, you are not in the list.")

What is your name Alexis

I am sorry Alexis, you are not in the list.

In [50]:
num = 0
while num < 5: 
    print (num) 
    num += 1

0
1
2
3
4

In [58]:
i = 1
while i <= 5: 
    print (i, "hello") 
    i = i + 1

1 hello
2 hello
3 hello
4 hello
5 hello

In [61]:
num = 0
while num < 10: 
    print(num) 
    num = num + 1
    if num == 3: 
        break

0
1
2

In [67]:
num = 0
while num < 10: 
    num = num + 1
    if num == 3: 
        continue 
    print(num)

1
2
4
5
6
7
8
9
10

In [69]:
num1 = 1
while num1 <= 3: 
    num2 = 1
    while num2 <= 5: 
        print(f"{num1} x {num2} is {num1*num2}.")
        num2 = num2 + 1 
    print() 
    num1 = num1 + 1

1 x 1 is 1.
1 x 2 is 2.
1 x 3 is 3.
1 x 4 is 4.
1 x 5 is 5.

2 x 1 is 2.
2 x 2 is 4.
2 x 3 is 6.
2 x 4 is 8.
2 x 5 is 10.

3 x 1 is 3.
3 x 2 is 6.
3 x 3 is 9.
3 x 4 is 12.
3 x 5 is 15.

In [5]:
myList = ["Apple", 15, "Table", 4.5, -45]
print (myList)
print (myList [2]) 
print (myList [:3]) 
print (myList [2:])
myList[2] = "Coffee" 
print (myList)

['Apple', 15, 'Table', 4.5, -45]
Table
['Apple', 15, 'Table']
['Table', 4.5, -45]
['Apple', 15, 'Coffee', 4.5, -45]

In [7]:
print (myList)

['Apple', 15, 'Coffee', 4.5, -45]

In [9]:
myList [0:2] = "Cheese", "Chicken"
print (myList)

['Cheese', 'Chicken', 'Coffee', 4.5, -45]

In [11]:
myList.append ("Pepper") 
print (myList)

['Cheese', 'Chicken', 'Coffee', 4.5, -45, 'Pepper']

In [13]:
myList.remove ("Chicken") 
print (myList)

['Cheese', 'Coffee', 4.5, -45, 'Pepper']

In [73]:
number = 9 
salaries = [2000, 300, 5000, 567, 789, 899, 677, 889]
print (len(salaries))
print (salaries [0])
print (salaries [1])
for item in salaries: 
    print (item, "=", item*2)

8
2000
300
2000 = 4000
300 = 600
5000 = 10000
567 = 1134
789 = 1578
899 = 1798
677 = 1354
889 = 1778

In [21]:
salaries [2] = 800
print (salaries)

[2000, 300, 800, 567, 789, 899, 677, 889]

In [27]:
print ("total", sum(salaries))
print ("Biggest:", max(salaries)) 
print ("Smallest:", min(salaries))

total 6921
Biggest: 2000
Smallest: 300

In [29]:
testScore = (56, 39, 63, 49, 28)
print (testScore)

(56, 39, 63, 49, 28)

In [31]:
print (testScore [3])

49

In [35]:
staffID = {3729, 3084, 3902, 3317, 2899}
newStaffID = [4001, 4002, 4003] 
staffID.update (newStaffID) 
print (staffID)

{3729, 4001, 2899, 4002, 3317, 4003, 3084, 3902}

In [43]:
productRange = {"item1":32.99, "item2": 45.99, "item3": 22.99}
print (productRange)

{'item1': 32.99, 'item2': 45.99, 'item3': 22.99}

In [45]:
print (productRange ["item2"] )

45.99

In [47]:
productRange ["item2"] = 35.99
print (productRange)

{'item1': 32.99, 'item2': 35.99, 'item3': 22.99}

In [49]:
productRange ["item4"] = 48.99
print (productRange)

{'item1': 32.99, 'item2': 35.99, 'item3': 22.99, 'item4': 48.99}

In [51]:
del productRange ["item1"] 
print (productRange)

{'item2': 35.99, 'item3': 22.99, 'item4': 48.99}

In [123]:
for price in productRange: 
    print (f"{price} x 3 = {productRange[price]*3}" )

item2 x 3 = 107.97
item3 x 3 = 68.97
item4 x 3 = 146.97

In [125]:
for price in productRange: 
    print(f"The price of {price} is £{productRange[price]}.")

The price of item2 is £35.99.
The price of item3 is £22.99.
The price of item4 is £48.99.

In [61]:
sequence = range (5, 10) 
for number in sequence: 
    print (number)

5
6
7
8
9

In [65]:
sequence = range (10, 50, 5) 
for number in sequence: 
    print (number*10)

100
150
200
250
300
350
400
450

In [103]:
number = range (10, 110, 10)  
for item in number: 
    print (item)

10
20
30
40
50
60
70
80
90
100

In [101]:
num = 0 
while num < 100: 
    num = num + 10
    print (num)

10
20
30
40
50
60
70
80
90
100

In [105]:
for char in "Hello world": 
    print (char)

H
e
l
l
o

w
o
r
l
d

In [107]:
for word in "Hello world".split(): 
    print (word)

Hello
world

In [115]:
word = input ("What word would you like to say?") 
for char in word: 
    print (char)

What word would you like to say? cool

c
o
o
l

In [119]:
my_fruit = ["Apple", "Banana", "Orange"] 
for fruit in my_fruit: 
    print (fruit.lower())

apple
banana
orange

In [276]:
student = {
    "Name":"Alexis Bennett", 
           "Age":31, 
           "University":"Roehampton", 
           "Major":"Data Science"
} 
print (student)

{'Name': 'Alexis Bennett', 'Age': 31, 'University': 'Roehampton', 'Major': 'Data Science'}

In [282]:
print ("Student Name:", student["Name"])
print ("Student Age:", student["Age"])
print ("Student Uni:", student["University"]) 
print ("Student Major:", student["Major"])

Student Name: Alexis Bennett
Student Age: 31
Student Uni: Roehampton
Student Major: Data Science

In [284]:
student["Major"] = "Computer Science"
print (student)

{'Name': 'Alexis Bennett', 'Age': 31, 'University': 'Roehampton', 'Major': 'Computer Science'}

In [288]:
student["Modules"] = "Maths and Engineering"
print (student)

{'Name': 'Alexis Bennett', 'Age': 31, 'University': 'Roehampton', 'Major': 'Computer Science', 'Modules': 'Maths and Engineering'}

In [290]:
del student["Age"]
print (student)

{'Name': 'Alexis Bennett', 'University': 'Roehampton', 'Major': 'Computer Science', 'Modules': 'Maths and Engineering'}

In [294]:
for info in student: 
    print (info)

Name
University
Major
Modules

In [300]:
for info in student: 
    print (student[info])

Alexis Bennett
Roehampton
Computer Science
Maths and Engineering

In [310]:
for info in student: 
    print (f"{info} is {student[info]}")

Name is Alexis Bennett
University is Roehampton
Major is Computer Science
Modules is Maths and Engineering

In [5]:
def net (income, outgoings): 
    total = income - outgoings 
    print (total) 

net(50, 30)

20

In [7]:
def net (income, outgoings): 
    total = income - outgoings 
    print (total) 
    return total 

jan = net (1239, 578) 
feb = net (549, 893) 

monTotal = jan + feb 
print (monTotal)

661
-344
317

In [13]:
def message ( ): 
    print ("hello") 
    print ("my") 
    print ("friends")

hello
my
friends
hello
my
friends

In [15]:
message ()

hello
my
friends

In [23]:
def addition (num1, num2): 
    result = num1 + num2
    print ("The result of addition is:", result) 

addition (2, 3)
addition (5, 10)

The result of addition is: 5
The result of addition is: 15

In [27]:
def greet (name): 
    return f"Hello {name}" 

name = input ("What is your name?") 
print (greet (name))

What is your name? Alexis

Hello Alexis

In [31]:
def mon_spend (spend, salary = 2000): 
    total = salary - spend 
    return total 

feb = mon_spend (136) 
print (f"Feb savings total: £{feb}") 

mar = mon_spend (136, 2500) 
print (f"March savings total: £{mar}")

Feb savings total: £1864
March savings total: £2364

In [33]:
def capital_city (country, city): 
    print (f"The capital city of {country} is {city}.") 

capital_city (city = "Madrid", country = "Spain")

The capital city of Spain is Madrid.

In [37]:
try: 
    result = 10/0
except ZeroDivisionError: 
    print ("Error: Division by zero is not allowed.") 
else: 
    print (f"The answer is {result}.") 
finally: 
    print ("End of program.")

Error: Division by zero is not allowed.
End of program.

In [53]:
try: 
    age = int(input ("How old are you?")) 
except ValueError: 
    print("That is not a valid age.") 
else: 
    print(f"You will be {age + 5} in five years' time")

How old are you? thirty

That is not a valid age.

In [55]:
while True: 
    try: 
        age = int(input("How old are you?")) 
    except ValueError: 
        print("That is not a valid age.")
    else: 
        print(f"You will be {age + 5} in five years' time.") 
        break

How old are you? thirty

That is not a valid age.

How old are you? 30

You will be 35 in five years' time.

In [59]:
import math
number = float (input("Enter a number:")) 
answer = math.sqrt(number) 
print(answer)

Enter a number: 49

7.0

In [61]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [63]:
from math import pi, ceil 
from random import randint 

def random_pi ( ): 
    return ceil(randint(1,10) * pi) 

for _ in range (5): 
    print(random_pi( ))

16
26
16
26
29